<% if (title) { %>
    <h1>
        <%= title %>
    </h1>
    <% } else { res.redirect('/') } %>

 <%-messages() %>

<% if (errors) { %>
    <ul class="notice">
        <% errors.array().forEach(error=> { %>
            <li>
                <%= error.msg %>
            </li>
            <% }) %>
    </ul>
    <% } %>
<div class="account-management">
    <h1>You're logged in</h1>
    <h2>Welcome <%= accountData.account_firstname %>
    </h2>
    <p><a href="/account/update/<%= accountData.account_id %>">Update Account Information</a></p>
    <% if (accountData.account_type==="Employee" || accountData.account_type==="Admin" ) { %>
        <div class="admin-section">
            <h3>Inventory Management</h3>
            <p><a href="/inv/">Manage Inventory</a></p>
        </div>
        <% } %>
</div>