<% if (title) { %>
    <h1>
        <%= title %>
    </h1>
    <% } else { res.redirect('/') } %>

<%-messages() %>

<h1>Account Update</h1>

<div class="update-grid">
    <form id="updateAccountForm" action="/account/update" method="post">
        <p>Update your Personal Information</p>
            <label for="accountFirstname">First Name:</label><br>
            <input type="text" name="account_firstname" id="accountFirstname" required value="<%= locals.account_firstname %>">
            <label for="accountLastname">Last Name:</label><br>
            <input type="text" name="account_lastname" id="accountLastname" required value="<%= locals.account_lastname %>">
            <label for="email">Email:</label><br>
            <input type="email" id="email" name="account_email" required placeholder="Enter a valid email address" value="<%= locals.account_email %>"><br>
            <input type="submit" name="submit" value="Update Account">

            <input type="hidden" name="account_id" value="<%= locals.accountData ? locals.accountData.account_id : locals.account_id %>">
    </form>
    <form id="updatePasswordForm" action="/account/update" method="post">
        <p>Update your Password Will Change the Current Password</p>
        <label for="password">Password:</label><br>
        <input type="password" id="password" name="account_password" required pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z0-9])(?!.*\s).{12,}$">
        <span>(Passwords must be at least 12 characters and contain at least 1 number, 1 capital letter and 1 special character)</span>

        <input type="submit" name="submit" value="Update Password">

        <input type="hidden" name="account_id" value="<%= locals.accountData ? locals.accountData.account_id : locals.account_id %>">
    </form>
</div>