<%- messages() %>

<% if (errors) { %>
    <ul class="notice">
        <% errors.array().forEach(error=> { %>
            <li>
                <%= error.msg %>
            </li>
            <% }) %>
    </ul>
    <% } %>


<div class="edit-inv-grid">
    <form id="updateForm" action="/inv/edit/" method="post">
        <p>All Fields are Required</p>

        <label for="classificationList">Classification:</label><br>
        <%- classificationList %>

        <label for="inv_make">Make:</label><br>
        <input type="text" id="inv_make" name="inv_make" required minlength="3" value="<%= locals.inv_make %>"><br>
        
        <label for="inv_model">Model:</label><br>
        <input type="text" id="inv_model" name="inv_model" required minlength="3" value="<%= locals.inv_model %>"><br>
        
        <label for="inv_description">Description:</label><br>
        <textarea id="inv_description" name="inv_description" rows="4" required><%= locals.inv_description %></textarea><br>
        
        <label for="inv_image">Image Path:</label><br>
        <input type="text" id="inv_image" name="inv_image" required pattern="/images/vehicles/.*\.(jpg|jpeg|png)$" value="<%= locals.inv_image %>"><br>
        
        <label for="inv_thumbnail">Thumbnail Path:</label><br>
        <input type="text" id="inv_thumbnail" name="inv_thumbnail" required pattern="/images/vehicles/.*\.(jpg|jpeg|png)$" value="<%= locals.inv_thumbnail %>"><br>
        
        <label for="inv_price">Price:</label><br>
        <input type="number" id="inv_price" name="inv_price" min="0" step="0.01" required value="<%= locals.inv_price %>"><br>

        <label for="inv_year">Year:</label><br>
        <input type="number" id="inv_year" name="inv_year" required placeholder="YYYY" value="<%= locals.inv_year %>"><br>

        <label for="inv_miles">Miles:</label><br>
        <input type="number" id="inv_miles" name="inv_miles" min="0" step="1" required value="<%= locals.inv_miles %>"><br>

        <label for="inv_color">Color:</label><br>
        <input type="text" id="inv_color" name="inv_color" required pattern="[A-Za-z ]+" value="<%= locals.inv_color %>"><br>

        <input type="submit" name="submit" value="Update Vehicle" disabled>

        <input type="hidden" name="inv_id" <% if(locals.inv_id) { %> value="<%= locals.inv_id %>"<% } %>>
    </form>
</div>

<script src="/js/inv-update.js"></script>